[defaults]
inventory = inventories/generated
roles_path = roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
inject_facts_as_vars = False
remote_tmp = /tmp

[ssh_connection]
pipelining = True
