---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: verda-hubble-relay-node-metrics
  namespace: kube-system
spec:
  endpointSelector:
    matchLabels:
      k8s-app: hubble-relay
  ingress:
    - fromEntities:
        - host
        - remote-node
      toPorts:
        - ports:
            - port: "9966"
              protocol: TCP
